/* styles for the reset password page */

.changepass-container {
    width: 300px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 90px;
  }
  
  .changepass-container form {
    background: rgb(230, 230, 230);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cfield {
    margin-bottom: 15px;
  }
  
  .changepass-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .changepass-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .changepass-input-submit {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .changepass-input-submit:hover {
    background-color: #555;
  }
  