body {
    font-family: Arial, sans-serif;
   }
   
   .shopping-cart {
    margin: 20px;
   }
   
   .shop-cart-title {
    color: #333;
   }
   
   .cart {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
   }
   
   .cart ul {
    list-style-type: none;
    padding: 0;
   }
   
   .cart li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
   }
   
   .total-price {
    margin-top: 20px;
    font-weight: bold;
   }
   
   .checkout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 20px;
   }
   
   .checkout-btn:hover {
    background-color: #555;
   }