*{
    overflow-x: hidden;
}

div {
    padding: 0 !important;
}


/*logo*/

.logo {
    width: 12vw;
}

/*hero*/


.txt {
    position: absolute;
    top: 20vw;
    left: 2%;
    display: flex;
    flex-direction: column;

}

#hero-text {
    font-size: 3vw;
    font-weight: bold;
}

#hero-subtext {
    margin-top: 2vw;
    font-size: 2vw;
}

#hero-btn {
    background-color: white;
    width: fit-content;
    padding: 0.6vw;
    box-sizing: border-box;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-top: 2vw;
    font-size: 1.4vw;
}

.menubox{
    display: flex;
    justify-content: center;
    width: fit-content;
    position: relative;
}

.menu{
    margin-top: 2.5vw;
    border-radius: 20px;
    width: 80%;
}
.menu:hover{
    scale: 1.1;
    transition: all 0.3s ease;
}
.labels{
    position: absolute;
    bottom: 20%;
    color: white;
}

.productbox{
    display: flex;
    justify-content: center;
   
}

.product{
    margin-top: 2vw;
}

/*Best sellers */

.best-selling {
    background-color: white;
    margin-left: 3vw;
}

.title {
    font-size: 2.5vw;
    font-weight: 500;
    margin-right: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    margin-left: 2vw;
    margin: auto;
    padding: 2vw;
}

.item-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1vw;
}

.checked {
    color: orange;
}

.card {
    margin-bottom: 2vw;
}

.just-arrived {
    background-color: rgb(242, 242, 233);
}


/*banner */
.banner{
    position: relative;

}

.banner-txt{
    width: auto;
    position: absolute;
    top: 40%;
    color: white;
    margin-left: 2vw;

}

#banner-btn{
    background-color: white;
    width: fit-content;
    padding: 0.6vw;
    box-sizing: border-box;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-eight: 600;
    margin-top: 2vw;
    font-size: 1.4vw;

}
/*social*/


