div {
    padding: 0 !important;
}

/*logo*/

.logo {
    width: 12vw;
}

/*hero*/

.img-container {
    position: relative;
    overflow: hidden;
}

.sub-image {
    position: absolute;
    top: 0;
    right: 0; /* Adjust this to position the image accordingly */
    width: auto; /* Adjust the width as needed */
    height: 25%; /* Adjust the height as needed */
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-container {
    flex: 1;
    color: white;
  }
  
  .image-container {
    flex-shrink: 0; /* Prevent the image from shrinking */
  }
  
  .sub-image {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }

.txt {
    position: absolute;
    top: 20vw;
    left: 2%;
    display: flex;
    flex-direction: column;

}

#aboutsection {
    position: relative;
}
/* aboutus-text and aboutus-text2 are used to position the text in the about us page appropriately */
#aboutus-text {
    position: absolute;
    top: 140%;
    left: 42%;
    font-weight: bold;
}

#aboutus-text2 {
    position: absolute;
    top: 170%;
    left: 42%;
    font-weight: bold;
}

#hero-text {
    font-size: 3vw;
    font-weight: bold;
}


#hero-subtext {
    margin-top: 2vw;
    font-size: 2vw;
}


.subsection{
    position: relative;
}
#hero-subtext-right {
    position: absolute;
    margin-top: 2vw;
    font-size: 2vw;
    text-align: right;
    color: blue; 
}

#hero-btn {
    background-color: white;
    width: fit-content;
    padding: 0.6vw;
    box-sizing: border-box;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-top: 2vw;
    font-size: 1.8vw;
}

.big-button {
    background-color: white;
    width: fit-content;
    padding: 1.2vw; /* Adjust padding to make the button bigger */
    box-sizing: border-box;
}

/* added hover effect eligible for us on all hero buttons */
#hero-btn:hover {
    background-color: black;
    color: white;
}

.menubox{
    display: flex;
    justify-content: center;
    width: fit-content;
    position: relative;
}

.menu{
    margin-top: 2.5vw;
    border-radius: 20px;
    width: 80%;
}
.menu:hover{
    scale: 1.1;
    transition: all 0.3s ease;
}
.labels{
    position: absolute;
    bottom: 20%;
    color: white;
}

.productbox{
    display: flex;
    justify-content: center;
   
}

.product{
    width: 40%;
    margin-top: 2vw;
}
