/* Set the body background to black */
body {
    background-color: black;
    color: white;
    font-family: serif; /* Use a fallback font if the preferred one is unavailable */
  }
  
  /* Style the header section */
  header {
    background-color: black;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the footer section */
  footer {
    background-color: black;
    padding: 10px;
    text-align: center;
  }
  
  /* Style hyperlinks */
  a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* Add transition for smooth hover effect */
  }
  
  /* Style hyperlinks on hover */
  a:hover {
    color: black;
  }
  
  /* Style buttons */
  button {
    font-family: serif;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s; /* Add transition for smooth hover effect */
  }
  
  /* Style buttons on hover */
  button:hover {
    background-color: black;
    color: white;
  }

  img {
    width: 35%;
  }
  